snippet impnmp "Import numpy pandas matplotlib"
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm

endsnippet

snippet impt "import pytorch, optim, functional"
import torch
import torch.nn as nn
import torch.optim as optim
import torch.nn.functional as f

endsnippet

snippet ipee "Import IPython, embed for debug, then exit"
__import__("IPython").embed();exit()

endsnippet

